<!DOCTYPE html>
<html>
<head>
    <title>Practice</title>

    <link rel="stylesheet" href="/dist/app.css?id=0">

</head>
<body>
<div id="app"></div>

<script src="/dist/app.js?id=0"></script>

</body>
</html>
